#characater_info-container{
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 60%;
    height: 80%;
    background-color: #272727;
    border-radius: 8px;
    max-height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
}
hr{
    width: 100%;
    margin: 6px 0;
}


#head{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background-clip: content-box;
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    align-items: flex-end;
    padding-left: 24px;
}



#head p{

    font-weight: bold;
}

#middle{
    display: flex;
    flex-direction: column;
    padding: 12px 0;
    padding: 12px 24px;
}

#middle code{
    font-size: 14px;
}

#bottom{
    padding: 0px 24px;
}
